<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hosting Toolbox</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ToolBox | Dashboard</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="admin.html">dashboard</a></li>
            <li><a href="pages.html">About</a></li>
            <li><a href="posts.html">Developer</a></li>
            <li><a href="users.html">Users</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Tools Box <small>Your IP Location: {{ ip }} {{ location }}</small></h1>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Area -->
    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <!-- Password Generator -->
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Password Generator
              </div>
              <div class="panel-body">
                <form>
                  <div class="input-group spinner">
                    <input type="text" class="form-control" value="6" id="pass-gen-input">
                    <div class="input-group-btn-vertical">
                      <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                      <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                    </div>
                  </div>
                  <!-- includ character checkbox -->
                  <div class="container">
                    <div class="checkbox">
                      <input type="checkbox"> 1234...
                    </div>
                    <div class="checkbox">
                      <input type="checkbox"> abcd...
                    </div>
                    <div class="checkbox">
                      <input type="checkbox"> ABCD...
                    </div>
                    <div class="checkbox">
                      <input type="checkbox"> @#$%...
                    </div>
                  </div>
                  <!-- generated pass and btn -->
                  <div class="input-group center-block generated-pass-btn">
                    <input type="text" class="form-control" placeholder="Generated password" readonly>
                    <hr>
                    <button class="btn btn-warning pass-gen-btn">Generate</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- domain check avalibility-->
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">Domain avalibility check</div>
              <div class="panel-body">
                <form>
                  <div class="input-group domain-check-input center-block">
                    <input type="text" id="domain-check-input" class="form-control" placeholder="check .com .ir .net ....">
                    <hr>
                    <button class="btn btn-info btn-check-domain">check</button>
                  </div>

                  <div class="domain-check-result">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <span class="badge glyphicon glyphicon-remove
                        "> </span>
                        abud.net
                      </li>
                      <li class="list-group-item">
                        <span class="badge glyphicon glyphicon-ok
                        "> </span>
                        abud.com
                      </li>
                      <li class="list-group-item">
                        <span class="badge glyphicon glyphicon-remove
                        "> </span>
                        abud.ir
                      </li>
                      <li class="list-group-item">
                        <span class="badge glyphicon glyphicon-ok
                        "> </span>
                        abud.com
                      </li>
                    </ul>
                  </div>


                </form>
              </div>
            </div>
            <!-- disk + bandwith usage -->
            <div class="well">
              <h4>Disk Space Used</h4>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
              </div>
              <h4>Bandwidth used</h4>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">40%</div>
              </div>
            </div>
          </div>

          <!-- main area title -->
          <div class="col-md-9">
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Select tool and search domain</h3>
              </div>
              <!-- main panel -->
              <div class="panel-body">

              <!-- Search bar input -->
              <div class="row">
                <form>
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" placeholder="your domain" id="tools-check-input" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" id="dosearch" type="button">Go!</button>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
              <br>
              <!-- service checkbox's -->
              <div class="row">
                <div class="col-md-12">
                  <div class="form-inline">
                    <div class="checkbox">
                      <input type="checkbox" name="tool-checkbox" value="dns"> DNS 
                    </div>
                    |
                    <div class="checkbox">
                      <input type="checkbox" name="tool-checkbox" value="ssl"> SSl 
                    </div>
                    |
                    <div class="checkbox">
                      <input type="checkbox" name="tool-checkbox" value="port scan"> Port Scan 
                    </div>
                    |
                    <div class="checkbox">
                      <input type="checkbox" name="tool-checkbox" value="whois"> Whois 
                    </div>
                    |
                    <div class="checkbox">
                      <input type="checkbox" name="tool-checkbox" value="ip"> IP Location 
                    </div>
                    |
                    <div class="checkbox">
                      <input type="checkbox" name="tool-checkbox" value="ping"> Ping 
                    </div>
                    |
                    <div class="checkbox">
                      <input type="checkbox" name="tool-checkbox" value="trace"> Trace 
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>

            <!-- Info Section -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Info</h3>
              </div>
              <div class="panel-body">

                <!-- service result boxes -->
                <div class="col-md-12 dns">
                  <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                      <span class="glyphicon glyphicon-list-alt
                      "></span> DNS Info
                    </div>
                    <div class="panel-body" id="dns-output">
                      <div class="">
                        <span class="label label-primary">NS Records</span>
                        <br>
                        <div id="ns-record"></div>
                        <br>
                        <span class="label label-success">MX Records</span>
                        <br>
                        <div id="mx-record"></div>
                        <br>
                        <span class="label label-info">A Records</span>
                        <br>
                        <div id="a-record"></div>
                        <br>
                        <span class="label label-warning">SOA Records</span>
                        <br>
                        <div id="soa-record"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                      <span class="glyphicon glyphicon-barcode
                      "></span> SSl Info
                    </div>
                    <div class="panel-body">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, saepe.</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                      <span class="glyphicon glyphicon-hdd
                      "></span> Port Info
                    </div>
                    <div class="panel-body">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, saepe.</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                      <span class="glyphicon glyphicon-user
                        "></span> Whois Info
                      </div>
                    <div class="panel-body" id="whois-output">
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-info">Important Data</li>
                        <li class="list-group-item">
                          <tr>
                            <td><span class="label label-primary">Domain Name:</span></td>
                            <td><strong class="text-uppercase" id="whois-domain"></strong></td>
                          </tr>
                          |
                          <tr>
                            <td><span class="label label-success">Update Date:</span></td>
                            <td><strong class="text-uppercase" id="whois-update"></strong></td>
                          </tr>
                          |
                          <tr>
                            <td><span class="label label-danger">Expire Date:</span></td>
                            <td><strong id="whois-expire"></strong></td>
                          </tr>
                        </li>
                        <li class="list-group-item list-group-item-warning">Registration Data</li>
                        <li class="list-group-item">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>Name</td>
                                <td id="whois-name"></td>
                              </tr>
                              <tr>
                                <td>organization</td>
                                <td id="whois-org"></td>
                              </tr>
                              <tr>
                                <td>street1</td>
                                <td id="whois-street"></td>
                              </tr>
                              <tr>
                                <td>city</td>
                                <td id="whois-city"></td>
                              </tr>
                              <tr>
                                <td>email</td>
                                <td id="whois-email"></td>
                              </tr>
                              <tr>
                                <td>telephone</td>
                                <td id="whois-phone"></td>
                              </tr>
                            </tbody>
                          </table>
                        </li>
                        <li class="list-group-item list-group-item-danger">Name Servers</li>
                        <li class="list-group-item" id="whois-ns">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                      <span class="glyphicon glyphicon-wrench
                      "></span> IP Info
                    </div>
                    <div class="panel-body">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, saepe.</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                      <span class="glyphicon glyphicon-globe
                      "></span> Ping Info
                    </div>
                    <div class="panel-body">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, saepe.</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                      <span class="glyphicon glyphicon-random
                      "></span> Trace Info
                    </div>
                    <div class="panel-body">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, saepe.</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">DNS Info</div>
                    <div class="panel-body">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, saepe.</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">DNS Info</div>
                    <div class="panel-body">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, saepe.</p>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Footer -->
    <footer id="footer">
      <p>Copyright ADmin Panel</p>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="addPage_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add New Page</h4>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label>Page Title</label>
                <input type="text" class="form-control" placeholder="Page title">
              </div>

              <div class="form-group">
                <label>Page Body</label>
                <textarea name="editor1" placeholder="page body" class="form-control"></textarea>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox"> Published
                </label>
              </div>

              <div class="form-group">
                <label>Meta Tags</label>
                <input type="text" class="form-control" placeholder="Add some tags...">
              </div>

              <div class="form-group">
                <label>Meta Descriptio</label>
                <input type="text" class="form-control" placeholder="Add Meta Tags Descriptio...">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- custom scripts -->
    <script src="{{ url_for('static', filename='js/custom_script.js') }}"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
